    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <h2>About</h2>
                <p>Recent graduate of the BCIT Computer Systems Bachelor's degree program specializing in Game Development, and looking to take on new challenges.</p>
                <p>Creating games is more than just putting together some code and art - it's a personal experience; it's about breathing life into a concept, creating something from nothing, telling a story and sharing it with the world, with the hope that the players are left with lasting memories and smiles for years to come. </p>
            </div>
        </div>
    </section>
