<!-- Projects Section -->
<section id="projects" class="content-section text-center">
    <div class="projects-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                <p>Noteworthy projects that I've been a part of</p>
                <div class="col-lg-8 col-lg-offset-2">
                  <h3>Staged!</h3>
                  <p>"Staged!" is a short turn based adventure game for PC and Xbox 360, and was developed in the first semester of the bachelor's degree programmed by
                     a team of four students:<br/>Nav Batthi, Alexandra Kabak, Christopher Klassen, René Ye<br/>
                  </p>
                  <p>An unlikely trio of characters wake up at the bottom of a dungeon;none know one another, and none know how they ended up down there.
                    Greeted by a mysterious voice, they are informed that their only hope of escape is to fight their way through the dungeon, together.
                  </p>
                  <img src="/DevKabak/img/Staged_title.png" atl="Staged! Title Screen" height="356" width="640">

                  <p>Roles for this project included rendering, systems, file I/O, player input, collisions, and overworld enemy creation and logic.</p>
                </div>
          <!--      <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>-->
            </div>
        </div>
    </div>
</section>
